.signup-form,
.login-form,
.comment-form {
  padding: 10px;
}
.help-block {
  margin-top: 10px;
}
.error-message {
  margin-top: 0;
}
.btn-flat {
  border-radius: 0;
}
.btn-delete,
.delete-form {
  display: inline;
}
