<div class="page-header">
  <h1>
    <a href="/posts/{{post.linkified_subject()}}">{{post.subject}}</a>
  </h1>
</div>
<div class="row">
    <p class="col-xs-12">
      {{post.created_at.strftime("%b %d, %Y")}},
      Posted by
      {% if user and user.owner_of(post) %}
        you
        <a href="/posts/{{post.linkified_subject()}}/edit" class="btn btn-default btn-xs">Edit</a>
        <a href="/posts/{{post.linkified_subject()}}/delete" class="btn btn-default btn-xs">Delete</a>
      {% else %}
          {{post.username()}}
      {% endif %}
    </p>
</div>
<br>
<div class="row">
  <p class="col-xs-12">
    {% if truncated %}
      {{post._truncated_render_text | safe}}
    {% else %}
      {{post._render_text | safe}}
    {% endif %}
  </p>
</div>
