<div class="page-header">
  <h1>
    <a href="/posts/{{post.linkified_subject}}">{{post.subject}}</a>
  </h1>
</div>
<div class="row">
    <div class="col-xs-12">
      {{post.created_at.strftime("%b %d, %Y")}},
      Posted by
      {% if user and user.owner_of(post) %}
        you
        <a href="/posts/{{post.linkified_subject}}/edit" class="btn btn-default btn-xs">Edit</a>
        <form method="post"
              action="/posts/{{post.linkified_subject}}/delete"
              class="delete-form">
          <button type=submit class="btn btn-default btn-xs btn-delete">Delete</button>
        </form>
      {% else %}
          {{post.username()}}
      {% endif %}
    </div>
</div>
<br>
<div class="row">
  <p class="col-xs-12">
    {% if truncated %}
      {{post._truncated_render_text | safe}}
    {% else %}
      {{post._render_text | safe}}
    {% endif %}
  </p>
</div>

{% if commented %}
<div class="row comments" id="comments">
  {% if user %}
  <div class="col-xs-12 col-md-6">
    <form class="form-horizontal comment-form" action="/posts/{{post.linkified_subject}}/comments/new" method="post">
      <div class="form-group">
        <label class="control-label"
               for="content">
          Your Comment
        </label>
        <textarea class="form-control"
                  id="content"
                  rows="8"
                  name="content"></textarea>
      </div>
      <div class="form-group">
          <button type="submit"
                  class="btn btn-primary col-xs-12">
              Post comment
          </button>
      </div>
    </form>
  </div>
  {% else %}
    <div class="col-xs-12">
      You need to <a href="/login">login</a> to post comments.
    </div>
  {% endif %}
  <div class="col-xs-12">
    <h3>Comments ({{post.comments_count}})</h3>
    {% for comment in post.comment_set %}
    <blockquote>
      <div>
        {{comment.content}}
        <br>
        <small>
          {{comment.created_at.strftime("%b %d, %Y")}} -
          {% if user and user.owner_of(comment) %}
            by you
            <a href="/posts/{{post.linkified_subject}}/comments/{{comment.key().id()}}/edit" class="btn btn-link btn-xs">Edit</a> |
            <form method="post"
                  action="/posts/{{post.linkified_subject}}/comments/{{comment.key().id()}}/delete"
                  class="delete-form">
              <button type=submit class="btn btn-link btn-xs btn-delete">Delete</button>
            </form>
          {% else %}
            by {{comment.username()}}
          {% endif %}
        </small>
      </div>
    </blockquote>
    {% endfor %}
  </div>
</div>
{% else %}
<div class="row comments-small">
  <div class="col-xs-12">
    <small>
      <a href="/posts/{{post.linkified_subject}}#comments">
        {{post.comments_count}}
        Comments
      </a>
    </small>
  </div>
</div>
{% endif %}
