{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">Edit Comment</div>
      <div class="panel-body">
        <form method="post" class="form-horizontal comment-form" >
          <div class="form-group {{'has-error' if errors['content']}}">
            <label for="content" class="control-label">Content</label>
            <textarea name="content" rows="8" id="content"
                      class="form-control">{{values['content']}}</textarea>
            {% if errors['content'] %}
             <span class="help-block error-message">
              {{errors['content']}}
             </span>
            {% endif %}
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary col-xs-12">
                Post comment
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
